.login {
  padding: 6px 35px;
  background: transparent;
}

.account {
  display: inline-block;
  vertical-align: middle;
  &:hover {
    fill: var(--sheets);
  }
}

.profileIcon {
  fill: var(--waterloo);
  width: 15px;
  height: 17px;
  margin-top: 2px;

  &:hover{
    fill: var(--jungle-green-hover)
  }
}