@import "~@santiment-network/ui/mixins.scss";

.login {
  @include text('body-2');

  padding: 7px 32px;
  background: transparent;
  height: fit-content;
}

.account {
  display: inline-block;
  vertical-align: middle;

  &:hover {
    fill: var(--sheets);
  }
}

.profileIcon {
  fill: var(--waterloo);
  width: 15px;
  height: 17px;
  margin-top: 2px;

  &:hover {
    fill: var(--jungle-green-hover)
  }
}