@import "~@santiment-network/ui/mixins";
@import "~@santiment-network/ui/variables";

.code {
  width: 60%;

  @include responsive("laptop") {
    margin-right: 30px;
  }
}

.lines {
  padding: 32px 40px;
}

.item {
  background-color: #f0f2f7;
  border-radius: 20px;
  height: 20px;
}

.item + .item {
  margin-top: 24px;
}
