@import "~@santiment-network/ui/mixins";
@import "~@santiment-network/ui/variables";

.top {
  &__lines {
    padding-left: 62px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      width: 38px;
      height: 48px;
      background: url(../../FunctionsTemplate/sheet.svg);
      background-repeat: no-repeat;
    }
  }

  &__line {
    display: flex;

    &:first-child {
      width: 228px;
      border-radius: 20px;
      height: 14px;
      background-color: var(--porcelain);
      margin-bottom: 15px;
    }
  }
}

.function {
  position: relative;
  z-index: 5;
  display: flex;
}

.fx {
  fill: #d2d6e7;
}

.function:hover {
  & .fx {
    fill: var(--sheets);
  }
}

.source {
  margin-top: auto;
  position: relative;

  &__line {
    font-size: 14px;
    height: 50px;
    border-top: 1px solid #f2f4fa;
    margin: 0 20px;
    display: flex;
    align-items: center;
  }

  &__top {
    padding: 18px 24px 10px;
  }
}

.item {
  background-color: #f0f2f7;
  border-radius: 20px;
  height: 14px;
}

.item + .item {
  margin-left: 18px;
}

:global {
  section {
    margin-bottom: 165px;
    @include responsive("phone", "phone-xs") {
      margin-bottom: 80px;
    }
  }
}

.favorites {
  position: absolute;
  width: 263px;
  height: 140px;
  bottom: 16px;
  left: -20px;
  padding: 30px 24px 18px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../FunctionsTemplate/combined-template.svg");
  background-repeat: no-repeat;
  border-radius: 8px;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    z-index: 2;
    border-radius: 50%;
    background-color: var(--jungle-green-accent);
    background-image: url("../../FunctionsTemplate/chain.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 4px;
    top: 4px;
    position: absolute;
  }

  &::after {
    content: "";
    width: 249px;
    height: 120px;
    right: 0px;
    left: 0;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 50px rgba(24, 27, 43, 0.04),
      0px 10px 40px rgba(24, 27, 43, 0.06);
    position: absolute;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.titleText {
  @include text("body-3");
  color: var(--mirage);
  margin-left: 12px;
}

.description {
  @include text("body-3");
  color: var(--waterloo);
}

.bold {
  font-weight: bold;
  color: var(--mirage);
  margin: 0 5px;
}

.codePanel {
  margin-right: 30px;
  margin-top: -30px;
  margin-right: -30px;
  margin-left: auto;

  @include responsive("laptop") {
    min-width: 500px;
    margin-right: 30px;
  }
}

.input {
  @include border-box;
  @include text('body-3');
  margin-top: -2px;
  width: 100%;
  line-height: 20px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 6px 10px 6px 0;
  color: var(--mirage);

  &::placeholder {
    color: var(--waterloo);
  }
}

.defaultValue {
    margin-top: 4px;
    margin-left: 14px;
    color: var(--mirage);
    font-size: 14px;
    line-height: 20px;
  }
