@import "~@santiment-network/ui/mixins";

.suggestions {
  position: absolute;
  width: 320px;
  max-height: 231px;
  overflow-y: scroll;
  overflow-y: overlay;
  overflow-x: hidden;
  padding: 8px;
  top: -50px;
  left: 50%;
  background: var(--white);
  border: 1px solid #f1f3f9;
  box-sizing: border-box;
  box-shadow: 0px 4px 50px rgba(56, 74, 167, 0.04),
    0px 60px 40px rgba(56, 74, 167, 0.02);
  border-radius: 8px;
  color: var(--waterloo);
}

.suggestion {
  padding: 6px 8px;
  height: auto;
  min-height: 32px;
  text-align: left;

  &:hover,
  &:focus {
    color: var(--green);
  }
}

.empty {
  padding: 6px 8px;
  color: var(--waterloo);
  margin: 0 auto;
}
