@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 155px;
  justify-content: space-between;

  &:nth-child(2) {
    flex-direction: row-reverse;
  }
}


.case {
  @include responsive('tablet', 'phone', 'phone-xs') {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &__title {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 14px 0 16px;

    @include responsive('tablet', 'phone', 'phone-xs') {
      flex-direction: column;
      justify-content: center;
      margin: 10px 0 12px;
    }
  }

  &__desc {
    text-align: left;
    max-width: 360px;
    @include text('body-1')
    @include responsive('tablet', 'phone', 'phone-xs') {
      text-align: center;
    }
  }
}

.code {
  width: 50%;
}
