@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 155px;
  justify-content: space-between;

  @include responsive("tablet") {
    margin-bottom: 20px;
  }

  @include responsive("phone", "phone-xs") {
    margin-bottom: 40px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.case {
  @include responsive("phone", "phone-xs") {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  @include responsive("laptop") {
    padding: 0 25px;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &__title {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 14px 0 16px;

    @include responsive("phone", "phone-xs") {
      flex-direction: column;
      justify-content: center;
      margin: 10px 0 12px;
    }
  }

  &__desc {
    text-align: left;
    max-width: 360px;

    @include text("body-1") @include responsive("phone", "phone-xs") {
      text-align: center;
    }

    @include responsive("tablet") {
      max-width: 400px;
    }

  }
}

.code {
  width: 50%;
}

.button {
  margin-top: 15px;
  padding: 6px 30px;
}