.sanTokens {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: var(--sheets);
  padding: 7px;
}

.tooltip {
  max-width: 550px;
  a {
    color: var(--sheets);
  }
}

.tooltipTrigger {
  @include responsive('phone', 'phone-xs') {
    width: 70%;
    text-align: center;
  }
}

.icon {
  margin: 0 0 -3px 6px;
  color: var(--sheets);
  fill: var(--sheets);
}

.text {
  margin: 25px 0;

  &:first-child {
    margin-top: 5px;
  }

  &:last-child {
    margin-bottom: 5px;
  }
}

.item {
  margin: 7px 0;
}
