@import "~@santiment-network/ui/mixins";
@import "~@santiment-network/ui/variables";

.wrapper {
  display: flex;

  &::before,
  &::after {
    z-index: -1;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 850px;
  }
  &::before {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 46%,
        var(--white) 100%
      ),
      url(../images/waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.title {
  &,
  &__mark {
    @include text("h1", "m");
    max-width: 480px;

    @include responsive("phone", "phone-xs") {
      max-width: 360px;
      font-size: 38px;
      line-height: 44px;
    }
  }

  &__mark {
    display: inline-block;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: $malibu-accent;
      bottom: 0;
      top: 0;
      left: -8px;
      right: -8px;
      border-radius: $border-radius;
      z-index: -1;
    }
  }
}

.desc {
  @include text("h4");
  font-weight: 100;
  color: var(--waterloo);
  margin: 32px 0;

  @include responsive("phone", "phone-xs") {
    font-size: 18px;
    line-height: 26px;
  }
}

.access {
  padding: 10px 39px;
  margin-right: 32px;
  height: 50px;
  background: var(--sheets);
  @include text("body-2");
  @include responsive("phone", "phone-xs") {
    margin-right: 25px;
    font-size: 14px;
    padding: 10px 25px;
  }
}

.doc {
  color: var(--sheets);
  fill: var(--sheets);

  @include responsive("phone", "phone-xs") {
    font-size: 14px;
  }

  &__icon {
    margin-left: 10px;
  }
}

.code {
  border: 1px solid #f2f4fa;
  box-sizing: border-box;
  box-shadow: 0px 4px 50px rgba(56, 74, 167, 0.04),
    0px 60px 40px rgba(56, 74, 167, 0.02);
  border-radius: 8px;
  background: #fff;
  margin-left: 90px;
  min-width: 600px;
  margin-right: -30px;
  margin-top: -50px;
  position: relative;

  @include responsive("tablet", "phone", "phone-xs") {
    display: none;
  }

  :global(&__keyword) {
    color: var(--sheets);
    font-size: 14px;
  }

  &__header {
    height: 36px;
    padding: 11px;
    line-height: 0;
    border-bottom: 1px solid #f2f4fa; // NOTE(vanguard): Undefined color
  }

  &__btn {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: var(--porcelain);
    border-radius: 50%;
    margin-right: 10px;
  }

  :global(&__number) {
    user-select: none;
    margin-right: 36px;
    font-size: 14px;
    color: #9faac4;
  }

  :global(&__tab) {
    margin-right: 15px;
  }
}

.top {
  &__lines {
    padding-left: 62px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      width: 38px;
      height: 48px;
      background: url(../components/FunctionsTemplate/sheet.svg);
      background-repeat: no-repeat;
    }
  }

  &__line {
    display: flex;

    &:first-child {
      width: 228px;
      border-radius: 20px;
      height: 14px;
      background-color: var(--porcelain);
      margin-bottom: 15px;
    }
  }
}

.function {
  height: 30px;
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 26px;
    height: 27px;
    background: url(../components/FunctionsTemplate/fx.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.source {
  margin-top: auto;
  position: relative;

  &__line {
    font-size: 14px;
    height: 50px;
    border-top: 1px solid #f2f4fa;
    margin: 0 20px;
    display: flex;
    align-items: center;
  }

  &__top {
    padding: 18px 24px 10px;
  }
}

.item {
  background-color: #f0f2f7;
  border-radius: 20px;
  height: 14px;
}

.item + .item {
  margin-left: 18px;
}

:global {
  section {
    margin-bottom: 165px;
    @include responsive("phone", "phone-xs") {
      margin-bottom: 80px;
    }
  }
}

.favorites {
  position: absolute;
  width: 263px;
  height: 140px;
  bottom: 16px;
  left: -20px;
  padding: 30px 24px 18px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../components/FunctionsTemplate/combined-template.svg");
  background-repeat: no-repeat;
  border-radius: 8px;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    z-index: 2;
    border-radius: 50%;
    background-color: var(--jungle-green-accent);
    background-image: url("../components/FunctionsTemplate/chain.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 4px;
    top: 4px;
    position: absolute;
  }

  &::after {
    content: "";
    width: 249px;
    height: 120px;
    right: 0px;
    left: 0;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 50px rgba(24, 27, 43, 0.04),
      0px 10px 40px rgba(24, 27, 43, 0.06);
    position: absolute;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.titleText {
  @include text("body-3");
  color: var(--mirage);
  margin-left: 12px;
}

.description {
  @include text("body-3");
  color: var(--waterloo);
}

.bold {
  font-weight: bold;
  color: var(--mirage);
  margin: 0 5px;
}
