@import "~@santiment-network/ui/mixins";
@import "~@santiment-network/ui/variables";

.wrapper {
  display: flex;

  &::before,
  &::after {
    z-index: -1;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 850px;
  }
  &::before {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 46%,
        var(--white) 100%
      ),
      url(../images/waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main {
  @include responsive('laptop') {
      padding-right: 20px;
    }
}

.title {
  &,
  &__mark {
    @include text("h1", "m");
    max-width: 480px;

    @include responsive("phone", "phone-xs") {
      max-width: 360px;
      font-size: 38px;
      line-height: 44px;
    }
  }

  &__mark {
    display: inline-block;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: $malibu-accent;
      bottom: 0;
      top: 0;
      left: -8px;
      right: -8px;
      border-radius: $border-radius;
      z-index: -1;
    }
  }
}

.desc {
  @include text("h4");
  font-weight: 100;
  color: var(--waterloo);
  margin: 32px 0;
  max-width: 466px;

  @include responsive("phone", "phone-xs") {
    font-size: 18px;
    line-height: 26px;
  }
}

.access {
  padding: 10px 39px;
  margin-right: 32px;
  height: 50px;
  @include text("body-2");
  @include responsive("phone", "phone-xs") {
    margin-right: 25px;
    font-size: 14px;
    padding: 10px 25px;
  }
}

.doc {
  color: var(--sheets);
  fill: var(--sheets);

  @include responsive("phone", "phone-xs") {
    font-size: 14px;
  }

  &__icon {
    margin-left: 10px;
  }
}
