@import '~@santiment-network/ui/mixins.scss';
@import '~@santiment-network/ui/variables.scss';

.header {
  background: var(--white);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  user-select: none;
  max-width: 1140px;
  margin: 0 auto;

  @include responsive('tablet') {
    max-width: 768px;
  }

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    padding: 20px 15px;
  }
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  &:hover {
    color: var(--rhino);
  }

  &__icon {
    width: 40px;
    height: 40px;
  }
}

:global(#hamburger) {
  display: none;
}

:global([for='hamburger']) {
  @include responsive('desktop', 'laptop', 'tablet') {
    display: none;
  }
}

.close {
  position: absolute;
  top: 24px;
  right: 19px;
  fill: var(--white);
}

.nav {
  display: flex;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    :global(#hamburger):checked + & {
      display: flex;
    }
  }
}

.link {
  color: var(--waterloo);
  margin-right: 32px;

  @include text('body-2');

  @include responsive('phone', 'phone-xs') {
    margin-right: 0;
    margin-bottom: 20px;
    color: var(--athens);
  }
}

.linkLast {
  margin-right: 6px;
}

.dividerLeft {
  height: 40px;
  border-left: 1px solid var(--porcelain);
  margin: 0 12px;
}

.dividerRight {
  height: 32px;
  border-left: 1px solid var(--porcelain);
  margin: 0 12px 0 24px;

  @include responsive('phone', 'phone-xs') {
    display: none;
  }
}

.products {
  display: flex;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.productName {
  margin: 0 3px 0 8px;
  @include text('body-2', 'm');

  color: $rhino;
}

.headerIcon {
  fill: var(--waterloo);

  &:hover {
    fill: var(--dodger-blue);
  }
}
