@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  text-align: center;
  height: 550px;
  width: 100%;
  max-width: none;
  background-size: contain;
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
  margin-bottom: 0;

  @include responsive("phone-xs") {
    z-index: 0;
  }
}

.container {
  padding-top: 50px;
  width: 100%;
  height: 100%;
    @include responsive("phone-xs") {
    padding-top: 170px;
    background:
    linear-gradient(
      180deg,
      var(--white) 0%,
      rgba(255, 255, 255, 0) 27%,
      rgba(255, 255, 255, 0) 73%,
      var(--white) 100%
    ),
    url("./girl.svg") no-repeat 37% 73%;
    background-size: contain;
  }
background:
    linear-gradient(
      180deg,
      var(--white) 0%,
      rgba(255, 255, 255, 0) 27%,
      rgba(255, 255, 255, 0) 73%,
      var(--white) 100%
    ),
    url("./girl.svg") no-repeat 37% 73%;
}

.br {
  @include responsive("phone-xs") {
    display: none;
  }
}

.text {
  margin: 16px 0 24px;
  color: var(--waterloo);
}

.btn {
  padding: 8px 45px;
  height: 50px;
  @include text("body-2");
}
