@import "~@santiment-network/ui/mixins";
@import "~@santiment-network/ui/variables";

.code {
  width: 60%;
  margin-right: 20px;

  @include responsive("laptop") {
    margin-right: 30px;
    margin-left: 20px;
  }
}

.financial {
  top: 15px;
  left: 115px;
}

.devact {
  bottom: -20px;
  right: 60px;
}

.social {
  top: 180px;
  left: 190px;
}

.onchain {
  left: -30px;
  bottom: 94px;
}

.content {
  width: 94%;
  margin: 0 auto;
  height: 365px;
  background: url("./graph.svg") no-repeat 25%;
  background-size: contain;
}

.ethereum {
  position: absolute;
  width: 263px;
  height: 140px;
  top: 48px;
  right: -50px;
  padding: 30px 24px 18px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../FunctionsTemplate/combined-template.svg");
  background-repeat: no-repeat;
  border-radius: 8px;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    z-index: 2;
    border-radius: 50%;
    background-color: var(--jungle-green-accent);
    background-image: url("./warning.svg");
    background-repeat: no-repeat;
    background-position: 50% 49%;
    right: 4px;
    top: 4px;
    position: absolute;
  }

  &::after {
    content: "";
    width: 249px;
    height: 120px;
    right: 0px;
    left: 0;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 50px rgba(24, 27, 43, 0.04),
      0px 10px 40px rgba(24, 27, 43, 0.06);
    position: absolute;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.titleText {
  @include text("body-3");
  color: var(--mirage);
  margin-left: 12px;
}

.description {
  @include text("body-3");
  color: var(--waterloo);
}

.bold {
  font-weight: bold;
  color: var(--mirage);
  margin: 0 5px;
}
